@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #5e5e5e;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html,body{
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  color: #5e5e5e;
}
.container-fluid, .container{

  padding: 0 !important;
}
header{
  padding-top: 0;
  margin-top: 0; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* TEXT MODES */
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.block{
  display: block;
}

.center{
  text-align: center;
}


/* typography 

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/

/* header */

 #logo-placeholder{
    background-color: #4b4f54;
    display: block;
    overflow: hidden;

    #logo-seminario {
      max-width: 65%; 
      padding: 2.5%; 
      float: left;
    }

    #logo{
      max-width: 25%; 
      padding: 2.5%;
      float: right;
    }

  }


  #navbar-primary.navbar-default {
    background: #efefef;
    border: none;
   
  } 
    #navbar-primary.navbar-default .navbar-nav { 
        width: 100%;
        text-align: center;
        > li {
        display: inline-block;
        float: none;
          > a {
          color: #4b4f54;
          font-size: 1.25em;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 18px;
        }
        &.active > a{
          font-weight: bold;
          background: transparent;
          border-bottom: 3px solid #4b4f54;
          box-shadow: none;
        }         
      }
    }
  @media(max-width: 767px){
    #navbar-primary.navbar-default .navbar-nav { 
        margin: 0 auto;
        > li {
            display: block;
        }
    }
  }

/* footer */

  footer{
    padding: 20px;
    background-color: #4b4f54;
    color: white;
    text-align: center;
    font-size: 1.25em;
    p{

    }
    a{
      color: white;
    }
  }


/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

  /* HOME */
  .jumbotron{
    background-color: #e5e5e5;
    border-radius: 0 !important;
    text-align: center;
    overflow-y: hidden;
    height: 325px;
  }
  .jumbotron .big-text{
    
  }
  .jumbotron h1{
    font-size: 2.5em;
    font-weight: 400;
  }
  .jumbotron .big-text img{
    width: 15%;
  }
@media(max-width: 767px){
  .jumbotron{
    height: auto;
  }
}
  .letter-intro h2{
    font-size: 1em;
    line-height: 0.25em;

  }

  .letter{
    padding-bottom: 50px;
  }

    .letter-content h3{
      font-size: 1.35em;
      line-height: 2.5em;

    }

    .letter-content > p{
      line-height: 1.75em;
      font-size: 1.25em;

    }


    /* CONDICIONES */
  .condiciones{
    font-size: 1.25em;
  }
    .condiciones h2{

    }

    .condiciones h3{

    }

    .condiciones p{

    }