  <footer>
    <div class="container">
      <div class="row">
        <p class="bold">© 2do Seminario Internacional de Seguridad del Paciente y Excelencia Clínica</p>
        <%= link_to "Condiciones de uso", condiciones_path %>
      </div>
    </div>
  </footer>